{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}



    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


<div><a href="{{ path('news_index') }}">News</a>

    <h1>Hello ! ✅</h1>
 <pre>

     Create a news parsing service from a news resource, for example hightload.today.
     The service must have a page displaying the list of downloaded news and a CLI command to start parsing.

Parsing features:

    * from each article, the download should and be saved:
    * title
    * short description
    * picture
    * date added
    * when parsing, it is necessary to check the presence of the title in the database,
     and if the news is already in the database, make a note about the date and time of the last update
    * database queries should be optimized for heavy load
    * parsing should be in several parallel processes (via rabbitMQ)
    * parsing must be run via cron
    * Features of the page for viewing news from the database:
    * the page for viewing news from the database should be available only after authorization in the system
     (registration is not required)
    * Authorized users can be with one of two roles: admin or moderator (the administrator can delete articles)
    * there must be pagination at the end of the list of articles (10 per page)

Stack:
    * Symfony 5.4
    * Php 7.4
    * Mysql
    * Bootstrap 5.1
    * Docker (docker-compose)
    * RabbitMQ


 </pre>
</div>
{% endblock %}
